
.card-1 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.247), 0 15px 12px rgba(0, 0, 0, 0.247);
    border-radius: 1rem;
  }

.btn {
    color: #ad0d60;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 13px 13px;
    border: 2.3px solid #ad0d60;
    border-radius: .5rem;
    font-size: large;
    background: rgba(0, 0, 0, 0);
  }
  
.btn:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: #000000;
    background-color: #ad0d60;
    transform: scale(1.08);
  }
